section{
    background-color: hsl(222, 26%, 31%);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    flex-direction: column;
}

h2{
    color: white;
}

h1{
    color: white;
    font-weight: bold;
    font-size: 38px;
    margin: 0 16px 0 16px;
}
.box-response{
    background-color: hsl(224, 36%, 15%);
    width: 100%;
    height: 50px;
    margin: 20px 0 20px 0;
    border-radius: 10px;
    padding:10px 0 10px 0;
    display:flex;
    justify-content: flex-end;
    align-items: center;
}

.box{
    background-color:hsl(223, 31%, 20%);
    border-radius: 10px;
    padding:10px;
}

.container{
    width: 380px;
}
button{
    padding:8px 25px 8px 25px;
    font-size: 20px;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    margin: 8px;
    color: hsl(221, 14%, 31%);
    font-family: "League Spartan", sans-serif;
    cursor: pointer;
}

.numbers button{
    background-color: hsl(30, 25%, 89%);
    box-shadow: 0 3px hsl(28, 16%, 65%);
    width: 70px;
    height: 35px;
}

.numbers button:hover{
    background-color: hsl(10, 10%, 100%);
}

.numbers .del{
    background-color: hsl(225, 21%, 49%);
    box-shadow: 0 3px hsl(224, 28%, 35%);
    color:white;
    font-size: 15px;
}
.numbers .del:hover{
    background-color: hsl(225, 21%, 60%);
}

.letters button{
    width: 44%;
}

.letters .reset{
    background-color: hsl(225, 21%, 49%);
    box-shadow: 0 3px hsl(224, 28%, 35%);
    color: white;
}

.letters .reset:hover{
    background-color: hsl(225, 21%, 60%);
}
.letters .igual{
    background-color: hsl(6, 63%, 50%);
    box-shadow: 0 3px hsl(6, 70%, 34%);
    color: white;
}
.letters .igual:hover{
    background-color: hsl(6, 63%, 60%);
}